.footer {
  background-color: $secundary-color;
  color: $primary-color;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.fb-footer {
  width: 30px;
  vertical-align: bottom;
}

.link-adalab {
  width: 100%;
  text-decoration: none;
  color: $primary-color;
  font-size: 20px;
}
