.logo-div {
  display: flex;
  align-items: center;
  width: 20%;
  margin: 10px;
}

.logo-lsf {
  width: 100%;
}

.fb-header {
  display: block;
  width: 100%;
}

.link-nav {
  width: 10%;
  text-decoration: none;
  color: #f29400;
}

.up-image {
  width: 100%;
}

.ces-container {
  width: 100%;
  margin-top: 10px;
}

.ces-image {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.post-ces-image {
  width: 100%;
}
@media (min-width: $min-size-mobile) {
  .logo-div {
    width: 10%;
  }
}
