$padding-container-mobile: 18px;
$padding-container: 70px 120px;
$bg-img: 400px;
$sections-bg-color: #f9f6f3;
$min-size-mobile: 768px;
$primary-color: #f29400;
$secundary-color: #4D4D4D;
$tertiary-color: #999999;
$primary-font: 'Signika Negative', sans-serif;
$secondary-font: 'Artifika', serif;
$color-hover: #ffc15e;
